@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #1A237E;
    /* background: #2C3E95; */
    width: 100vw;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    
}
